body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; /* ボタン間のスペース */
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* 高さを調整 */
    width: 300px;
    max-width: 90vw;
    font-size: 1.5em; /* フォントサイズを調整 */
    color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:nth-child(1) {
    background-color: #66CDAA; /* MediumAquamarine */
}

.button:nth-child(1):hover {
    background-color: #5CB390;
}

.button:nth-child(2) {
    background-color: #87CEEB; /* SkyBlue */
}

.button:nth-child(2):hover {
    background-color: #7AC1D8;
}

.button:nth-child(3) {
    background-color: #FFB6C1; /* LightPink */
}

.button:nth-child(3):hover {
    background-color: #FF99A9;
}

.button:hover {
    background-color: #1A8B83;
}